html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

#canvas {
	display: block;
  position: absolute;  
}


#controlKit .panel {
    width: 20vw !important;
    height: 100vh !important;
}

#controlKit .panel .group-list .group .sub-group-list .sub-group .wrap .label {
    width: 50% !important;
}

#controlKit .panel .group-list .group .sub-group-list .sub-group .wrap .wrap {
    width: 50% !important;
}
