$scrollbar-width: 0.7vw;
$controlkit-width: 22.3vw;

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: none;
}

#container {
  overflow: hidden;

  #canvas {
    display: block;
    float: right;
  }
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 $scrollbar-width rgba(0, 0, 0, 0.5);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: $scrollbar-width;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #111111;
}

#controlKit .panel {
  width: $controlkit-width !important;
}

#controlKit .panel .group-list .group .sub-group-list .sub-group .wrap .label {
  width: 50% !important;
}

#controlKit .panel .group-list .group .sub-group-list .sub-group .wrap .wrap {
  width: 50% !important;
}
